{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ players[0].team }} national football team players
{% endblock %}
{% block header %}
    {{ players[0].team }} national football team players
{% endblock %}
{% block content %}
    {% for player in players %}
        <a class="btn btn-default col-lg-3" href="{{ playerRoute }}/{{ player.name }}" role="button">{{ player.name }}</a>
    {% endfor %}
{% endblock %}